{{define "base"}}
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="Example" />

  <title>Example</title>

  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet"> -->
  
  <link href="./static/js/ext/fontcss.css" rel="stylesheet">
  <link href="./static/js/ext/vuetify.min.css" rel="stylesheet">
  <link href="./static/js/ext/icon.css" rel="stylesheet">

  <!-- dev vue -->
  <script src="./static/js/ext/vue.js"></script>
  <script src="./static/js/ext/vue-resource.js"></script> 
  <!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
  <script src="./static/js/ext/vuetify.js"></script>

  <!-- prod vue -->
  <!-- <script src="{{.RootUrl}}static/js/ext/vue_prod.js"></script> -->

</head>

<body>
  <div id="app"></div>
</body>
<script>
  window.buildnr = "{{.Buildnr}}"
</script>
<script type="module">
  import { app } from './static/js/vue/main.js'
</script>

</html>
{{end}}